body{
    background-color: #F05454 !important;
    display: inline-grid;
    font-family: 'Roboto', sans-serif;

}

.container-header{
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #125D98;
    padding: 20px;
    position: absolute;
    top:0px;
    width: 100%;
  }

  .car-head {
    height: 64px;
    box-shadow: 10px white;
  
  }
  
  .title-head {
    color: #F8F9FC;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .content{
      margin-top: 250px;
  }
  .content img{
    height:150px;
      width:150px;
      border-radius: 100px;
     
      
  }

  .content p{
      width: 40%;
  }



  .boxy{
      padding: 50px;
      background-color: white;
      width:75%;
      margin:auto;
      font-family:'Roboto', sans-serif ;
      display:flex;
      flex: 1 2 1;
      border-radius: 20px;
      box-shadow: 10px 10px 25px grey;
  }

  .boxy:hover{
      box-shadow: 20px 20px 50px #FFC93C;
  }

  .bnt{
    background-color: #125D98;
    border-radius: 50px; 
    border:#125D98;
    color:#F8F9FC;
    padding:10px;
    font-family: 'Roboto', sans-serif;
   cursor:pointer;
   position: relative;
   left:200px;
 }
 .bnt:hover{
   background-color: #5187d8;;
   box-shadow: -3px -3px 7px #ffffff73, 3px 3px 4px rgb(94 104 121 / 29%);
 }

 
 