body {
    background-color: #F05454 !important;
   width:70%;
  
    
  }

label{
  padding-top:10px;
}
  .car2{
    height:150px;
    width:150px;
    position:relative;
    left: 180px;
  }
  .container-header{
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #125D98;
    padding: 20px;
    position: absolute;
    top:0px;
    width: 100%;
  }

  .car-head {
    height: 64px;
    box-shadow: 10px white;
  
  }
  
  .title-head {
    color: #F8F9FC;
    margin-left: 20px;
    margin-top: 10px;
  }

  .register{
    text-align: center;
    padding-bottom: 50px;
  }

  .registercss{
    margin-top: 200px;
    font-family: 'Roboto', sans-serif;
    color: #F8F9FC;
    justify-content: center;
    padding-left: 50%;    
  }

  form{
padding-top: 50px;
  }
  
.bnt{
  background-color: #125D98;
   border-radius: 50px; 
   border:#125D98;
   color:#F8F9FC;
   padding:10px;
   font-family: 'Roboto', sans-serif;
  cursor:pointer;
  position: relative;
  left:200px;
}
.bnt:hover{
  background-color: #5187d8;;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 4px rgb(94 104 121 / 29%);
}


.copyright{
  padding: 50px;
  position:relative;
  left:50px;
}

  

