* {
    outline: none;
}

@font-face {
    font-family: Roboto;
    src: url('https://res.cloudinary.com/dxfq3iotg/raw/upload/v1585021315/Roboto-Regular.ttf')
}

body {
    font-family: "Rubik", cursive;
}

.mt-100 {
    margin-top: 150px;
}

.modal-content {
    border-radius: 0.7rem;
}

@media(width:1024px) {
    .modal-dialog {
        max-width: 700px;
    }
}

.modal-title {
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

h4 {
    margin-left: auto;
}

.modal-header {
    border-bottom: none;
    text-align: center;
    padding-bottom: 0;
}

h6 {
    color: rgb(2, 55, 230);
    margin-top: 2vh;
    margin-bottom: 0;
    font-size: 2vh;
}

.modal-body {
    padding: 2vh;
}

.modal-footer {
    border-top: none;
    justify-content: center;
    padding-top: 0;
}

.row {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 2vh 0 2vh 0;
    justify-content: space-between;
    flex-wrap: unset;
    margin: 0;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ul li {
    font-size: 2vh;
    font-weight: bold;
    line-height: 4vh;
}

.left {
    float: left;
    font-weight: normal;
    color: rgb(126, 123, 123);
}

.right {
    float: right;
    text-align: right;
}

.col {
    padding-left: 0;
}

@media(min-width:1025px) {
    img {
        width: 70%;
    }
}

.btn {
    background-color: rgb(2, 55, 230);
    border-color: rgb(2, 55, 230);
    color: white;
    width: 90%;
    padding: 2vh;
    margin-top: 0;
    border-radius: 0.7rem;
    box-shadow: none;
    border-style: d
}

.openmodal {
    background-color: white;
    color: black;
    width: 30vw;
}

:-moz-any-link:focus {
    outline: none
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}

.btn:focus {
    box-shadow: none;
}